In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

foods = pd.read_csv(r'C:\Users\USER\Desktop\FoodBalanceSheets_E_Africa_NOFLAG.csv')
print(foods)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [36]:
foods.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [37]:
foods.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [38]:
foods.groupby('Area')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].count()

<ipython-input-38-5771cb03c980>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  foods.groupby('Area')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].count()

                             Y2014  Y2015  Y2016  Y2017  Y2018
Area
Algeria                       1261   1268   1274   1279   1298
Angola                        1378   1378   1388   1407   1396
Benin                         1250   1260   1257   1253   1252
Botswana                      1361   1369   1365   1368   1361
Burkina Faso                  1382   1372   1392   1383   1373
Cabo Verde                    1231   1229   1200   1193   1192
Cameroon                      1450   1443   1443   1441   1432
Central African Republic      1300   1296   1314   1262   1308
Chad                          1284   1303   1265   1281   1305
Comoros                         45     45     45     45     45
Congo                         1382   1377   1377   1395   1377
C�te d'Ivoire                 1444   1447   1455   1454   1455
Djibouti                      1052   1058   1054   1061   1040
Egypt                         1461   1473   1470   1458   1468
Eswatini                      1265   1240   1255   1251   1231
Ethiopia                      1424   1430   1410   1428   1425
Ethiopia PDR                    39     39     39     39     39
Gabon                         1200   1202   1198   1206   1192
Gambia                        1121   1115   1111   1116   1118
Ghana                         1337   1333   1330   1333   1337
Guinea                        1345   1349   1373   1383   1385
Guinea-Bissau                 1044   1040   1054   1076   1091
Kenya                         1544   1542   1540   1548   1548
Lesotho                       1130   1097   1116   1110   1094
Liberia                       1135   1134   1124   1135   1133
Madagascar                    1416   1429   1431   1425   1424
Malawi                        1416   1400   1394   1411   1410
Mali                          1252   1256   1250   1243   1260
Mauritania                    1106   1152   1119   1108   1170
Mauritius                     1355   1352   1344   1340   1342
Morocco                       1354   1381   1378   1369   1368
Mozambique                    1396   1394   1401   1406   1400
Namibia                       1274   1270   1266   1269   1256
Niger                         1357   1367   1355   1365   1368
Nigeria                       1470   1458   1460   1457   1456
Rwanda                        1400   1378   1400   1397   1403
Sao Tome and Principe         1108   1125   1140   1122   1109
Senegal                       1448   1449   1452   1452   1448
Seychelles                      68     68     68     68     68
Sierra Leone                  1177   1181   1188   1191   1197
South Africa                  1394   1395   1395   1395   1396
Sudan                         1277   1260   1271   1279   1268
Sudan (former)                  53     53     53     53     53
Togo                          1219   1226   1243   1234   1266
Tunisia                       1304   1318   1314   1314   1320
Uganda                        1446   1446   1446   1435   1445
United Republic of Tanzania   1401   1405   1403   1409   1408
Zambia                        1424   1420   1430   1425   1421
Zimbabwe                      1374   1373   1358   1365   1356

In [39]:
foods[['Y2014']] = foods[['Y2014']].fillna(value='134.196282')
foods[['Y2015']] = foods[['Y2015']].fillna(value='135.235966')
foods[['Y2016']] = foods[['Y2016']].fillna(value='136.555222')
foods[['Y2017']] = foods[['Y2017']].fillna(value='140.917765')
foods[['Y2018']] = foods[['Y2018']].fillna(value='143.758381')

In [40]:
foods.isnull().sum()

Area Code       0
Area            0
Item Code       0
Item            0
Element Code    0
Element         0
Unit            0
Y2014           0
Y2015           0
Y2016           0
Y2017           0
Y2018           0
dtype: int64

In [41]:
foods.groupby('Area')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].count()

<ipython-input-41-5771cb03c980>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  foods.groupby('Area')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].count()

                             Y2014  Y2015  Y2016  Y2017  Y2018
Area
Algeria                       1313   1313   1313   1313   1313
Angola                        1424   1424   1424   1424   1424
Benin                         1285   1285   1285   1285   1285
Botswana                      1378   1378   1378   1378   1378
Burkina Faso                  1409   1409   1409   1409   1409
Cabo Verde                    1260   1260   1260   1260   1260
Cameroon                      1460   1460   1460   1460   1460
Central African Republic      1344   1344   1344   1344   1344
Chad                          1343   1343   1343   1343   1343
Comoros                         45     45     45     45     45
Congo                         1413   1413   1413   1413   1413
C�te d'Ivoire                 1467   1467   1467   1467   1467
Djibouti                      1095   1095   1095   1095   1095
Egypt                         1488   1488   1488   1488   1488
Eswatini                      1284   1284   1284   1284   1284
Ethiopia                      1447   1447   1447   1447   1447
Ethiopia PDR                    39     39     39     39     39
Gabon                         1245   1245   1245   1245   1245
Gambia                        1168   1168   1168   1168   1168
Ghana                         1354   1354   1354   1354   1354
Guinea                        1410   1410   1410   1410   1410
Guinea-Bissau                 1128   1128   1128   1128   1128
Kenya                         1560   1560   1560   1560   1560
Lesotho                       1150   1150   1150   1150   1150
Liberia                       1206   1206   1206   1206   1206
Madagascar                    1439   1439   1439   1439   1439
Malawi                        1447   1447   1447   1447   1447
Mali                          1293   1293   1293   1293   1293
Mauritania                    1195   1195   1195   1195   1195
Mauritius                     1378   1378   1378   1378   1378
Morocco                       1393   1393   1393   1393   1393
Mozambique                    1427   1427   1427   1427   1427
Namibia                       1283   1283   1283   1283   1283
Niger                         1403   1403   1403   1403   1403
Nigeria                       1474   1474   1474   1474   1474
Rwanda                        1426   1426   1426   1426   1426
Sao Tome and Principe         1177   1177   1177   1177   1177
Senegal                       1462   1462   1462   1462   1462
Seychelles                      68     68     68     68     68
Sierra Leone                  1242   1242   1242   1242   1242
South Africa                  1399   1399   1399   1399   1399
Sudan                         1316   1316   1316   1316   1316
Sudan (former)                  53     53     53     53     53
Togo                          1294   1294   1294   1294   1294
Tunisia                       1338   1338   1338   1338   1338
Uganda                        1458   1458   1458   1458   1458
United Republic of Tanzania   1419   1419   1419   1419   1419
Zambia                        1451   1451   1451   1451   1451
Zimbabwe                      1393   1393   1393   1393   1393

In [42]:
foods1 = foods.iloc[0:30471].reset_index(drop=True)
foods2 = foods.iloc[30471:].reset_index(drop=True)
print(foods1)
print(foods2)

       Area Code     Area  Item Code            Item  Element Code  \
0              4  Algeria       2501      Population           511
1              4  Algeria       2501      Population          5301
2              4  Algeria       2901     Grand Total           664
3              4  Algeria       2901     Grand Total           674
4              4  Algeria       2901     Grand Total           684
...          ...      ...        ...             ...           ...
30466        123  Liberia       2736  Offals, Edible           664
30467        123  Liberia       2736  Offals, Edible           674
30468        123  Liberia       2736  Offals, Edible           684
30469        123  Liberia       2946     Animal fats          5511
30470        123  Liberia       2946     Animal fats          5611

                                      Element             Unit    Y2014  \
0               Total Population - Both sexes     1000 persons  38924.0
1                    Domestic supply quantity      1000 tonnes      0.0
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.0
3      Protein supply quantity (g/capita/day)     g/capita/day     94.9
4          Fat supply quantity (g/capita/day)     g/capita/day    80.06
...                                       ...              ...      ...
30466           Food supply (kcal/capita/day)  kcal/capita/day      7.0
30467  Protein supply quantity (g/capita/day)     g/capita/day     1.11
30468      Fat supply quantity (g/capita/day)     g/capita/day     0.21
30469                              Production      1000 tonnes      1.0
30470                         Import Quantity      1000 tonnes      0.0

         Y2015    Y2016    Y2017    Y2018
0      39728.0  40551.0  41389.0  42228.0
1          0.0      0.0      0.0      0.0
2       3379.0   3372.0   3341.0   3322.0
3        94.35    94.72    92.82    91.83
4        79.36     77.4    80.19    77.28
...        ...      ...      ...      ...
30466      9.0      8.0      8.0      6.0
30467     1.48     1.29     1.36     1.06
30468     0.27     0.23     0.25     0.19
30469      1.0      1.0      1.0      1.0
30470      0.0      0.0      0.0      0.0

[30471 rows x 12 columns]
       Area Code      Area  Item Code           Item  Element Code  \
0            123   Liberia       2946    Animal fats          5072
1            123   Liberia       2946    Animal fats          5911
2            123   Liberia       2946    Animal fats          5301
3            123   Liberia       2946    Animal fats          5521
4            123   Liberia       2946    Animal fats          5123
...          ...       ...        ...            ...           ...
30467        181  Zimbabwe       2899  Miscellaneous          5142
30468        181  Zimbabwe       2899  Miscellaneous           645
30469        181  Zimbabwe       2899  Miscellaneous           664
30470        181  Zimbabwe       2899  Miscellaneous           674
30471        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit Y2014  \
0                             Stock Variation      1000 tonnes   0.0
1                             Export Quantity      1000 tonnes   0.0
2                    Domestic supply quantity      1000 tonnes   1.0
3                                        Feed      1000 tonnes   0.0
4                                      Losses      1000 tonnes   0.0
...                                       ...              ...   ...
30467                                    Food      1000 tonnes  42.0
30468     Food supply quantity (kg/capita/yr)               kg  3.06
30469           Food supply (kcal/capita/day)  kcal/capita/day   3.0
30470  Protein supply quantity (g/capita/day)     g/capita/day   0.1
30471      Fat supply quantity (g/capita/day)     g/capita/day  0.04

            Y2015 Y2016 Y2017 Y2018
0             0.0   0.0   0.0   0.0
1      135.235966   0.0   0.0   0.0
2             1.0   1.0   1.0   1.0
3             0.0   0.0   0.0   0.0
4             0.0   0.0   0.0   0.0
...           ...   ...   ...   ...
30467        46.0  33.0  19.0  16.0
30468        3.33  2.35  1.33  1.08
30469         4.0   3.0   1.0   1.0
30470        0.11  0.08  0.04  0.04
30471        0.05  0.03  0.02  0.01

[30472 rows x 12 columns]

In [43]:
assert len(foods) == (len(foods1) + len(foods2))

In [44]:
pd.merge(foods1, foods2, how="inner")

Empty DataFrame
Columns: [Area Code, Area, Item Code, Item, Element Code, Element, Unit, Y2014, Y2015, Y2016, Y2017, Y2018]
Index: []

In [14]:
pd.merge(foods1, foods2, how="outer")

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.0,3372.0,3341.0,3322.0
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.9,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.4,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.0,46.0,33.0,19.0,16.0
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.0,4.0,3.0,1.0,1.0
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.1,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [45]:
pd.merge(foods1, foods2, how="left")

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.0,3372.0,3341.0,3322.0
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.9,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.4,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
30466,123,Liberia,2736,"Offals, Edible",664,Food supply (kcal/capita/day),kcal/capita/day,7.0,9.0,8.0,8.0,6.0
30467,123,Liberia,2736,"Offals, Edible",674,Protein supply quantity (g/capita/day),g/capita/day,1.11,1.48,1.29,1.36,1.06
30468,123,Liberia,2736,"Offals, Edible",684,Fat supply quantity (g/capita/day),g/capita/day,0.21,0.27,0.23,0.25,0.19
30469,123,Liberia,2946,Animal fats,5511,Production,1000 tonnes,1.0,1.0,1.0,1.0,1.0
30470,123,Liberia,2946,Animal fats,5611,Import Quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0

In [46]:
foods.duplicated().any()

False

In [47]:
foods_fds = foods[foods['Element'].isin(['Food supply (kcal/capita/day)'])]
print(foods_fds)

       Area Code      Area  Item Code                      Item  Element Code  \
2              4   Algeria       2901               Grand Total           664
5              4   Algeria       2903          Vegetal Products           664
8              4   Algeria       2941           Animal Products           664
24             4   Algeria       2905  Cereals - Excluding Beer           664
40             4   Algeria       2511        Wheat and products           664
...          ...       ...        ...                       ...           ...
60902        181  Zimbabwe       2769   Aquatic Animals, Others           664
60910        181  Zimbabwe       2775            Aquatic Plants           664
60920        181  Zimbabwe       2928             Miscellaneous           664
60930        181  Zimbabwe       2680               Infant food           664
60940        181  Zimbabwe       2899             Miscellaneous           664

                             Element             Unit   Y2014   Y2015   Y2016  \
2      Food supply (kcal/capita/day)  kcal/capita/day  3377.0  3379.0  3372.0
5      Food supply (kcal/capita/day)  kcal/capita/day  2932.0  2958.0  2941.0
8      Food supply (kcal/capita/day)  kcal/capita/day   444.0   421.0   431.0
24     Food supply (kcal/capita/day)  kcal/capita/day  1680.0  1682.0  1699.0
40     Food supply (kcal/capita/day)  kcal/capita/day  1432.0  1435.0  1453.0
...                              ...              ...     ...     ...     ...
60902  Food supply (kcal/capita/day)  kcal/capita/day     0.0     0.0     0.0
60910  Food supply (kcal/capita/day)  kcal/capita/day     0.0     0.0     0.0
60920  Food supply (kcal/capita/day)  kcal/capita/day     3.0     4.0     3.0
60930  Food supply (kcal/capita/day)  kcal/capita/day     0.0     0.0     0.0
60940  Food supply (kcal/capita/day)  kcal/capita/day     3.0     4.0     3.0

        Y2017   Y2018
2      3341.0  3322.0
5      2921.0  2932.0
8       421.0   390.0
24     1656.0  1672.0
40     1430.0  1419.0
...       ...     ...
60902     0.0     0.0
60910     0.0     0.0
60920     2.0     1.0
60930     0.0     0.0
60940     1.0     1.0

[5014 rows x 12 columns]

In [48]:
foods_fds.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.0,3372.0,3341.0,3322.0
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.0,2958.0,2941.0,2921.0,2932.0
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.0,421.0,431.0,421.0,390.0
24,4,Algeria,2905,Cereals - Excluding Beer,664,Food supply (kcal/capita/day),kcal/capita/day,1680.0,1682.0,1699.0,1656.0,1672.0
40,4,Algeria,2511,Wheat and products,664,Food supply (kcal/capita/day),kcal/capita/day,1432.0,1435.0,1453.0,1430.0,1419.0

In [49]:
foods_fds.iloc[0:30, :]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.0,3372.0,3341.0,3322.0
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.0,2958.0,2941.0,2921.0,2932.0
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.0,421.0,431.0,421.0,390.0
24,4,Algeria,2905,Cereals - Excluding Beer,664,Food supply (kcal/capita/day),kcal/capita/day,1680.0,1682.0,1699.0,1656.0,1672.0
40,4,Algeria,2511,Wheat and products,664,Food supply (kcal/capita/day),kcal/capita/day,1432.0,1435.0,1453.0,1430.0,1419.0
55,4,Algeria,2805,Rice and products,664,Food supply (kcal/capita/day),kcal/capita/day,27.0,28.0,27.0,28.0,27.0
70,4,Algeria,2513,Barley and products,664,Food supply (kcal/capita/day),kcal/capita/day,90.0,86.0,86.0,72.0,105.0
85,4,Algeria,2514,Maize and products,664,Food supply (kcal/capita/day),kcal/capita/day,131.0,132.0,131.0,125.0,120.0
94,4,Algeria,2515,Rye and products,664,Food supply (kcal/capita/day),kcal/capita/day,0.0,0.0,0.0,0.0,0.0
108,4,Algeria,2516,Oats,664,Food supply (kcal/capita/day),kcal/capita/day,0.0,0.0,0.0,0.0,0.0
126,4,Algeria,2518,Sorghum and products,664,Food supply (kcal/capita/day),kcal/capita/day,0.0,1.0,2.0,1.0,1.0
139,4,Algeria,2520,"Cereals, Other",664,Food supply (kcal/capita/day),kcal/capita/day,0.0,0.0,0.0,0.0,0.0
154,4,Algeria,2907,Starchy Roots,664,Food supply (kcal/capita/day),kcal/capita/day,131.0,131.0,131.0,131.0,131.0
163,4,Algeria,2532,Cassava and products,664,Food supply (kcal/capita/day),kcal/capita/day,0.0,0.0,0.0,0.0,0.0
178,4,Algeria,2531,Potatoes and products,664,Food supply (kcal/capita/day),kcal/capita/day,131.0,131.0,131.0,131.0,131.0
188,4,Algeria,2533,Sweet potatoes,664,Food supply (kcal/capita/day),kcal/capita/day,0.0,0.0,0.0,0.0,0.0
201,4,Algeria,2534,"Roots, Other",664,Food supply (kcal/capita/day),kcal/capita/day,0.0,0.0,0.0,0.0,0.0
232,4,Algeria,2909,Sugar & Sweeteners,664,Food supply (kcal/capita/day),kcal/capita/day,271.0,273.0,275.0,274.0,273.0
245,4,Algeria,2542,Sugar (Raw Equivalent),664,Food supply (kcal/capita/day),kcal/capita/day,262.0,264.0,266.0,265.0,264.0
256,4,Algeria,2543,"Sweeteners, Other",664,Food supply (kcal/capita/day),kcal/capita/day,7.0,7.0,8.0,7.0,8.0
268,4,Algeria,2745,Honey,664,Food supply (kcal/capita/day),kcal/capita/day,1.0,1.0,1.0,1.0,1.0
282,4,Algeria,2911,Pulses,664,Food supply (kcal/capita/day),kcal/capita/day,73.0,71.0,64.0,69.0,73.0
295,4,Algeria,2546,Beans,664,Food supply (kcal/capita/day),kcal/capita/day,16.0,16.0,15.0,13.0,15.0
309,4,Algeria,2547,Peas,664,Food supply (kcal/capita/day),kcal/capita/day,4.0,4.0,4.0,4.0,4.0
323,4,Algeria,2549,"Pulses, Other and products",664,Food supply (kcal/capita/day),kcal/capita/day,53.0,51.0,45.0,52.0,54.0
335,4,Algeria,2912,Treenuts,664,Food supply (kcal/capita/day),kcal/capita/day,18.0,19.0,17.0,16.0,13.0
347,4,Algeria,2551,Nuts and products,664,Food supply (kcal/capita/day),kcal/capita/day,18.0,19.0,17.0,16.0,13.0
363,4,Algeria,2913,Oilcrops,664,Food supply (kcal/capita/day),kcal/capita/day,16.0,15.0,15.0,14.0,16.0
375,4,Algeria,2555,Soyabeans,664,Food supply (kcal/capita/day),kcal/capita/day,0.0,0.0,0.0,0.0,0.0
389,4,Algeria,2556,Groundnuts (Shelled Eq),664,Food supply (kcal/capita/day),kcal/capita/day,3.0,3.0,2.0,2.0,4.0

In [57]:
foods_fds.isnull()
foods_fds.dropna()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.0,3372.0,3341.0,3322.0
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.0,2958.0,2941.0,2921.0,2932.0
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.0,421.0,431.0,421.0,390.0
24,4,Algeria,2905,Cereals - Excluding Beer,664,Food supply (kcal/capita/day),kcal/capita/day,1680.0,1682.0,1699.0,1656.0,1672.0
40,4,Algeria,2511,Wheat and products,664,Food supply (kcal/capita/day),kcal/capita/day,1432.0,1435.0,1453.0,1430.0,1419.0
...,...,...,...,...,...,...,...,...,...,...,...,...
60902,181,Zimbabwe,2769,"Aquatic Animals, Others",664,Food supply (kcal/capita/day),kcal/capita/day,0.0,0.0,0.0,0.0,0.0
60910,181,Zimbabwe,2775,Aquatic Plants,664,Food supply (kcal/capita/day),kcal/capita/day,0.0,0.0,0.0,0.0,0.0
60920,181,Zimbabwe,2928,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.0,4.0,3.0,2.0,1.0
60930,181,Zimbabwe,2680,Infant food,664,Food supply (kcal/capita/day),kcal/capita/day,0.0,0.0,0.0,0.0,0.0
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.0,4.0,3.0,1.0,1.0

In [58]:
foods_fds1 = foods_fds[foods_fds['Item'].isin(['Animal Products'])]
print(foods_fds1)

       Area Code                         Area  Item Code             Item  \
8              4                      Algeria       2941  Animal Products
1321           7                       Angola       2941  Animal Products
2745          53                        Benin       2941  Animal Products
4030          20                     Botswana       2941  Animal Products
5408         233                 Burkina Faso       2941  Animal Products
6817          35                   Cabo Verde       2941  Animal Products
8077          32                     Cameroon       2941  Animal Products
9537          37     Central African Republic       2941  Animal Products
10881         39                         Chad       2941  Animal Products
12269         46                        Congo       2941  Animal Products
13682        107                C�te d'Ivoire       2941  Animal Products
15149         72                     Djibouti       2941  Animal Products
16244         59                        Egypt       2941  Animal Products
17732        209                     Eswatini       2941  Animal Products
19016        238                     Ethiopia       2941  Animal Products
20502         74                        Gabon       2941  Animal Products
21747         75                       Gambia       2941  Animal Products
22915         81                        Ghana       2941  Animal Products
24269         90                       Guinea       2941  Animal Products
25679        175                Guinea-Bissau       2941  Animal Products
26807        114                        Kenya       2941  Animal Products
28367        122                      Lesotho       2941  Animal Products
29517        123                      Liberia       2941  Animal Products
30723        129                   Madagascar       2941  Animal Products
32162        130                       Malawi       2941  Animal Products
33609        133                         Mali       2941  Animal Products
34902        136                   Mauritania       2941  Animal Products
36097        137                    Mauritius       2941  Animal Products
37475        143                      Morocco       2941  Animal Products
38868        144                   Mozambique       2941  Animal Products
40295        147                      Namibia       2941  Animal Products
41578        158                        Niger       2941  Animal Products
42981        159                      Nigeria       2941  Animal Products
44455        184                       Rwanda       2941  Animal Products
45881        193        Sao Tome and Principe       2941  Animal Products
47058        195                      Senegal       2941  Animal Products
48588        197                 Sierra Leone       2941  Animal Products
49830        202                 South Africa       2941  Animal Products
51229        276                        Sudan       2941  Animal Products
52598        217                         Togo       2941  Animal Products
53892        222                      Tunisia       2941  Animal Products
55230        226                       Uganda       2941  Animal Products
56688        215  United Republic of Tanzania       2941  Animal Products
58107        251                       Zambia       2941  Animal Products
59558        181                     Zimbabwe       2941  Animal Products

       Element Code                        Element             Unit  Y2014  \
8               664  Food supply (kcal/capita/day)  kcal/capita/day  444.0
1321            664  Food supply (kcal/capita/day)  kcal/capita/day  276.0
2745            664  Food supply (kcal/capita/day)  kcal/capita/day  158.0
4030            664  Food supply (kcal/capita/day)  kcal/capita/day  484.0
5408            664  Food supply (kcal/capita/day)  kcal/capita/day  168.0
6817            664  Food supply (kcal/capita/day)  kcal/capita/day  424.0
8077            664  Food supply (kcal/capita/day)  kcal/capita/day  137.0
9537            664  Food supply (kcal/capita/day)  kcal/capita/day  231.0
10881           664  Food supply (kcal/capita/day)  kcal/capita/day  141.0
12269           664  Food supply (kcal/capita/day)  kcal/capita/day  198.0
13682           664  Food supply (kcal/capita/day)  kcal/capita/day  110.0
15149           664  Food supply (kcal/capita/day)  kcal/capita/day  215.0
16244           664  Food supply (kcal/capita/day)  kcal/capita/day  312.0
17732           664  Food supply (kcal/capita/day)  kcal/capita/day  280.0
19016           664  Food supply (kcal/capita/day)  kcal/capita/day  119.0
20502           664  Food supply (kcal/capita/day)  kcal/capita/day  413.0
21747           664  Food supply (kcal/capita/day)  kcal/capita/day  180.0
22915           664  Food supply (kcal/capita/day)  kcal/capita/day  116.0
24269           664  Food supply (kcal/capita/day)  kcal/capita/day  125.0
25679           664  Food supply (kcal/capita/day)  kcal/capita/day  181.0
26807           664  Food supply (kcal/capita/day)  kcal/capita/day  245.0
28367           664  Food supply (kcal/capita/day)  kcal/capita/day  303.0
29517           664  Food supply (kcal/capita/day)  kcal/capita/day  131.0
30723           664  Food supply (kcal/capita/day)  kcal/capita/day  133.0
32162           664  Food supply (kcal/capita/day)  kcal/capita/day  117.0
33609           664  Food supply (kcal/capita/day)  kcal/capita/day  315.0
34902           664  Food supply (kcal/capita/day)  kcal/capita/day  446.0
36097           664  Food supply (kcal/capita/day)  kcal/capita/day  463.0
37475           664  Food supply (kcal/capita/day)  kcal/capita/day  324.0
38868           664  Food supply (kcal/capita/day)  kcal/capita/day  113.0
40295           664  Food supply (kcal/capita/day)  kcal/capita/day  306.0
41578           664  Food supply (kcal/capita/day)  kcal/capita/day  174.0
42981           664  Food supply (kcal/capita/day)  kcal/capita/day  104.0
44455           664  Food supply (kcal/capita/day)  kcal/capita/day  101.0
45881           664  Food supply (kcal/capita/day)  kcal/capita/day  199.0
47058           664  Food supply (kcal/capita/day)  kcal/capita/day  159.0
48588           664  Food supply (kcal/capita/day)  kcal/capita/day  111.0
49830           664  Food supply (kcal/capita/day)  kcal/capita/day  476.0
51229           664  Food supply (kcal/capita/day)  kcal/capita/day  379.0
52598           664  Food supply (kcal/capita/day)  kcal/capita/day   97.0
53892           664  Food supply (kcal/capita/day)  kcal/capita/day  386.0
55230           664  Food supply (kcal/capita/day)  kcal/capita/day  190.0
56688           664  Food supply (kcal/capita/day)  kcal/capita/day  176.0
58107           664  Food supply (kcal/capita/day)  kcal/capita/day  130.0
59558           664  Food supply (kcal/capita/day)  kcal/capita/day  182.0

       Y2015  Y2016  Y2017  Y2018
8      421.0  431.0  421.0  390.0
1321   224.0  203.0  213.0  208.0
2745   156.0  143.0  126.0  120.0
4030   467.0  444.0  366.0  398.0
5408   157.0  159.0  156.0  159.0
6817   430.0  411.0  432.0  421.0
8077   135.0  132.0  119.0  117.0
9537   233.0  236.0  240.0  252.0
10881  144.0  148.0  155.0  124.0
12269  230.0  224.0  233.0  216.0
13682  115.0  111.0  115.0  110.0
15149  237.0  222.0  225.0  219.0
16244  304.0  288.0  296.0  302.0
17732  250.0  258.0  257.0  262.0
19016  112.0  106.0  103.0  104.0
20502  420.0  393.0  380.0  363.0
21747  173.0  171.0  185.0  184.0
22915  122.0  122.0  128.0  129.0
24269  127.0  133.0  135.0  132.0
25679  182.0  183.0  171.0  167.0
26807  245.0  262.0  244.0  246.0
28367  305.0  297.0  274.0  290.0
29517  133.0  129.0  125.0  133.0
30723  134.0  136.0  135.0  135.0
32162  120.0  131.0  139.0  142.0
33609  283.0  284.0  320.0  336.0
34902  440.0  443.0  423.0  422.0
36097  465.0  469.0  475.0  494.0
37475  328.0  328.0  335.0  335.0
38868  116.0  112.0  117.0  115.0
40295  311.0  315.0  327.0  306.0
41578  185.0  186.0  187.0  183.0
42981   95.0   86.0   85.0   84.0
44455  108.0  102.0  103.0  103.0
45881  192.0  194.0  184.0  191.0
47058  158.0  160.0  156.0  152.0
48588  101.0   94.0   93.0   94.0
49830  483.0  487.0  465.0  479.0
51229  362.0  363.0  353.0  358.0
52598  101.0   93.0   95.0   91.0
53892  403.0  402.0  402.0  399.0
55230  180.0  178.0  172.0  189.0
56688  178.0  176.0  172.0  181.0
58107  128.0  124.0  136.0  159.0
59558  167.0  160.0  155.0  159.0

In [69]:
foods_fds1.loc[13682, ['Area']] = ['Cote dIvoire']
print(foods_fds1)

       Area Code                         Area  Item Code             Item  \
8              4                      Algeria       2941  Animal Products
1321           7                       Angola       2941  Animal Products
2745          53                        Benin       2941  Animal Products
4030          20                     Botswana       2941  Animal Products
5408         233                 Burkina Faso       2941  Animal Products
6817          35                   Cabo Verde       2941  Animal Products
8077          32                     Cameroon       2941  Animal Products
9537          37     Central African Republic       2941  Animal Products
10881         39                         Chad       2941  Animal Products
12269         46                        Congo       2941  Animal Products
13682        107                 Cote dIvoire       2941  Animal Products
15149         72                     Djibouti       2941  Animal Products
16244         59                        Egypt       2941  Animal Products
17732        209                     Eswatini       2941  Animal Products
19016        238                     Ethiopia       2941  Animal Products
20502         74                        Gabon       2941  Animal Products
21747         75                       Gambia       2941  Animal Products
22915         81                        Ghana       2941  Animal Products
24269         90                       Guinea       2941  Animal Products
25679        175                Guinea-Bissau       2941  Animal Products
26807        114                        Kenya       2941  Animal Products
28367        122                      Lesotho       2941  Animal Products
29517        123                      Liberia       2941  Animal Products
30723        129                   Madagascar       2941  Animal Products
32162        130                       Malawi       2941  Animal Products
33609        133                         Mali       2941  Animal Products
34902        136                   Mauritania       2941  Animal Products
36097        137                    Mauritius       2941  Animal Products
37475        143                      Morocco       2941  Animal Products
38868        144                   Mozambique       2941  Animal Products
40295        147                      Namibia       2941  Animal Products
41578        158                        Niger       2941  Animal Products
42981        159                      Nigeria       2941  Animal Products
44455        184                       Rwanda       2941  Animal Products
45881        193        Sao Tome and Principe       2941  Animal Products
47058        195                      Senegal       2941  Animal Products
48588        197                 Sierra Leone       2941  Animal Products
49830        202                 South Africa       2941  Animal Products
51229        276                        Sudan       2941  Animal Products
52598        217                         Togo       2941  Animal Products
53892        222                      Tunisia       2941  Animal Products
55230        226                       Uganda       2941  Animal Products
56688        215  United Republic of Tanzania       2941  Animal Products
58107        251                       Zambia       2941  Animal Products
59558        181                     Zimbabwe       2941  Animal Products

       Element Code                        Element             Unit  Y2014  \
8               664  Food supply (kcal/capita/day)  kcal/capita/day  444.0
1321            664  Food supply (kcal/capita/day)  kcal/capita/day  276.0
2745            664  Food supply (kcal/capita/day)  kcal/capita/day  158.0
4030            664  Food supply (kcal/capita/day)  kcal/capita/day  484.0
5408            664  Food supply (kcal/capita/day)  kcal/capita/day  168.0
6817            664  Food supply (kcal/capita/day)  kcal/capita/day  424.0
8077            664  Food supply (kcal/capita/day)  kcal/capita/day  137.0
9537            664  Food supply (kcal/capita/day)  kcal/capita/day  231.0
10881           664  Food supply (kcal/capita/day)  kcal/capita/day  141.0
12269           664  Food supply (kcal/capita/day)  kcal/capita/day  198.0
13682           664  Food supply (kcal/capita/day)  kcal/capita/day  110.0
15149           664  Food supply (kcal/capita/day)  kcal/capita/day  215.0
16244           664  Food supply (kcal/capita/day)  kcal/capita/day  312.0
17732           664  Food supply (kcal/capita/day)  kcal/capita/day  280.0
19016           664  Food supply (kcal/capita/day)  kcal/capita/day  119.0
20502           664  Food supply (kcal/capita/day)  kcal/capita/day  413.0
21747           664  Food supply (kcal/capita/day)  kcal/capita/day  180.0
22915           664  Food supply (kcal/capita/day)  kcal/capita/day  116.0
24269           664  Food supply (kcal/capita/day)  kcal/capita/day  125.0
25679           664  Food supply (kcal/capita/day)  kcal/capita/day  181.0
26807           664  Food supply (kcal/capita/day)  kcal/capita/day  245.0
28367           664  Food supply (kcal/capita/day)  kcal/capita/day  303.0
29517           664  Food supply (kcal/capita/day)  kcal/capita/day  131.0
30723           664  Food supply (kcal/capita/day)  kcal/capita/day  133.0
32162           664  Food supply (kcal/capita/day)  kcal/capita/day  117.0
33609           664  Food supply (kcal/capita/day)  kcal/capita/day  315.0
34902           664  Food supply (kcal/capita/day)  kcal/capita/day  446.0
36097           664  Food supply (kcal/capita/day)  kcal/capita/day  463.0
37475           664  Food supply (kcal/capita/day)  kcal/capita/day  324.0
38868           664  Food supply (kcal/capita/day)  kcal/capita/day  113.0
40295           664  Food supply (kcal/capita/day)  kcal/capita/day  306.0
41578           664  Food supply (kcal/capita/day)  kcal/capita/day  174.0
42981           664  Food supply (kcal/capita/day)  kcal/capita/day  104.0
44455           664  Food supply (kcal/capita/day)  kcal/capita/day  101.0
45881           664  Food supply (kcal/capita/day)  kcal/capita/day  199.0
47058           664  Food supply (kcal/capita/day)  kcal/capita/day  159.0
48588           664  Food supply (kcal/capita/day)  kcal/capita/day  111.0
49830           664  Food supply (kcal/capita/day)  kcal/capita/day  476.0
51229           664  Food supply (kcal/capita/day)  kcal/capita/day  379.0
52598           664  Food supply (kcal/capita/day)  kcal/capita/day   97.0
53892           664  Food supply (kcal/capita/day)  kcal/capita/day  386.0
55230           664  Food supply (kcal/capita/day)  kcal/capita/day  190.0
56688           664  Food supply (kcal/capita/day)  kcal/capita/day  176.0
58107           664  Food supply (kcal/capita/day)  kcal/capita/day  130.0
59558           664  Food supply (kcal/capita/day)  kcal/capita/day  182.0

       Y2015  Y2016  Y2017  Y2018
8      421.0  431.0  421.0  390.0
1321   224.0  203.0  213.0  208.0
2745   156.0  143.0  126.0  120.0
4030   467.0  444.0  366.0  398.0
5408   157.0  159.0  156.0  159.0
6817   430.0  411.0  432.0  421.0
8077   135.0  132.0  119.0  117.0
9537   233.0  236.0  240.0  252.0
10881  144.0  148.0  155.0  124.0
12269  230.0  224.0  233.0  216.0
13682  115.0  111.0  115.0  110.0
15149  237.0  222.0  225.0  219.0
16244  304.0  288.0  296.0  302.0
17732  250.0  258.0  257.0  262.0
19016  112.0  106.0  103.0  104.0
20502  420.0  393.0  380.0  363.0
21747  173.0  171.0  185.0  184.0
22915  122.0  122.0  128.0  129.0
24269  127.0  133.0  135.0  132.0
25679  182.0  183.0  171.0  167.0
26807  245.0  262.0  244.0  246.0
28367  305.0  297.0  274.0  290.0
29517  133.0  129.0  125.0  133.0
30723  134.0  136.0  135.0  135.0
32162  120.0  131.0  139.0  142.0
33609  283.0  284.0  320.0  336.0
34902  440.0  443.0  423.0  422.0
36097  465.0  469.0  475.0  494.0
37475  328.0  328.0  335.0  335.0
38868  116.0  112.0  117.0  115.0
40295  311.0  315.0  327.0  306.0
41578  185.0  186.0  187.0  183.0
42981   95.0   86.0   85.0   84.0
44455  108.0  102.0  103.0  103.0
45881  192.0  194.0  184.0  191.0
47058  158.0  160.0  156.0  152.0
48588  101.0   94.0   93.0   94.0
49830  483.0  487.0  465.0  479.0
51229  362.0  363.0  353.0  358.0
52598  101.0   93.0   95.0   91.0
53892  403.0  402.0  402.0  399.0
55230  180.0  178.0  172.0  189.0
56688  178.0  176.0  172.0  181.0
58107  128.0  124.0  136.0  159.0
59558  167.0  160.0  155.0  159.0

In [70]:
foods_fds1.count()

Area Code       45
Area            45
Item Code       45
Item            45
Element Code    45
Element         45
Unit            45
Y2014           45
Y2015           45
Y2016           45
Y2017           45
Y2018           45
dtype: int64

In [71]:
foods_fds2 = foods_fds1.set_index("Area").sort_index()
foods_fds3 = foods_fds2.loc[:, 'Y2014':'Y2018']

print(foods_fds2)

print(foods_fds3)

                             Area Code  Item Code             Item  \
Area
Algeria                              4       2941  Animal Products
Angola                               7       2941  Animal Products
Benin                               53       2941  Animal Products
Botswana                            20       2941  Animal Products
Burkina Faso                       233       2941  Animal Products
Cabo Verde                          35       2941  Animal Products
Cameroon                            32       2941  Animal Products
Central African Republic            37       2941  Animal Products
Chad                                39       2941  Animal Products
Congo                               46       2941  Animal Products
Cote dIvoire                       107       2941  Animal Products
Djibouti                            72       2941  Animal Products
Egypt                               59       2941  Animal Products
Eswatini                           209       2941  Animal Products
Ethiopia                           238       2941  Animal Products
Gabon                               74       2941  Animal Products
Gambia                              75       2941  Animal Products
Ghana                               81       2941  Animal Products
Guinea                              90       2941  Animal Products
Guinea-Bissau                      175       2941  Animal Products
Kenya                              114       2941  Animal Products
Lesotho                            122       2941  Animal Products
Liberia                            123       2941  Animal Products
Madagascar                         129       2941  Animal Products
Malawi                             130       2941  Animal Products
Mali                               133       2941  Animal Products
Mauritania                         136       2941  Animal Products
Mauritius                          137       2941  Animal Products
Morocco                            143       2941  Animal Products
Mozambique                         144       2941  Animal Products
Namibia                            147       2941  Animal Products
Niger                              158       2941  Animal Products
Nigeria                            159       2941  Animal Products
Rwanda                             184       2941  Animal Products
Sao Tome and Principe              193       2941  Animal Products
Senegal                            195       2941  Animal Products
Sierra Leone                       197       2941  Animal Products
South Africa                       202       2941  Animal Products
Sudan                              276       2941  Animal Products
Togo                               217       2941  Animal Products
Tunisia                            222       2941  Animal Products
Uganda                             226       2941  Animal Products
United Republic of Tanzania        215       2941  Animal Products
Zambia                             251       2941  Animal Products
Zimbabwe                           181       2941  Animal Products

                             Element Code                        Element  \
Area
Algeria                               664  Food supply (kcal/capita/day)
Angola                                664  Food supply (kcal/capita/day)
Benin                                 664  Food supply (kcal/capita/day)
Botswana                              664  Food supply (kcal/capita/day)
Burkina Faso                          664  Food supply (kcal/capita/day)
Cabo Verde                            664  Food supply (kcal/capita/day)
Cameroon                              664  Food supply (kcal/capita/day)
Central African Republic              664  Food supply (kcal/capita/day)
Chad                                  664  Food supply (kcal/capita/day)
Congo                                 664  Food supply (kcal/capita/day)
Cote dIvoire                          664  Food supply (kcal/capita/day)
Djibouti                              664  Food supply (kcal/capita/day)
Egypt                                 664  Food supply (kcal/capita/day)
Eswatini                              664  Food supply (kcal/capita/day)
Ethiopia                              664  Food supply (kcal/capita/day)
Gabon                                 664  Food supply (kcal/capita/day)
Gambia                                664  Food supply (kcal/capita/day)
Ghana                                 664  Food supply (kcal/capita/day)
Guinea                                664  Food supply (kcal/capita/day)
Guinea-Bissau                         664  Food supply (kcal/capita/day)
Kenya                                 664  Food supply (kcal/capita/day)
Lesotho                               664  Food supply (kcal/capita/day)
Liberia                               664  Food supply (kcal/capita/day)
Madagascar                            664  Food supply (kcal/capita/day)
Malawi                                664  Food supply (kcal/capita/day)
Mali                                  664  Food supply (kcal/capita/day)
Mauritania                            664  Food supply (kcal/capita/day)
Mauritius                             664  Food supply (kcal/capita/day)
Morocco                               664  Food supply (kcal/capita/day)
Mozambique                            664  Food supply (kcal/capita/day)
Namibia                               664  Food supply (kcal/capita/day)
Niger                                 664  Food supply (kcal/capita/day)
Nigeria                               664  Food supply (kcal/capita/day)
Rwanda                                664  Food supply (kcal/capita/day)
Sao Tome and Principe                 664  Food supply (kcal/capita/day)
Senegal                               664  Food supply (kcal/capita/day)
Sierra Leone                          664  Food supply (kcal/capita/day)
South Africa                          664  Food supply (kcal/capita/day)
Sudan                                 664  Food supply (kcal/capita/day)
Togo                                  664  Food supply (kcal/capita/day)
Tunisia                               664  Food supply (kcal/capita/day)
Uganda                                664  Food supply (kcal/capita/day)
United Republic of Tanzania           664  Food supply (kcal/capita/day)
Zambia                                664  Food supply (kcal/capita/day)
Zimbabwe                              664  Food supply (kcal/capita/day)

                                        Unit  Y2014  Y2015  Y2016  Y2017  \
Area
Algeria                      kcal/capita/day  444.0  421.0  431.0  421.0
Angola                       kcal/capita/day  276.0  224.0  203.0  213.0
Benin                        kcal/capita/day  158.0  156.0  143.0  126.0
Botswana                     kcal/capita/day  484.0  467.0  444.0  366.0
Burkina Faso                 kcal/capita/day  168.0  157.0  159.0  156.0
Cabo Verde                   kcal/capita/day  424.0  430.0  411.0  432.0
Cameroon                     kcal/capita/day  137.0  135.0  132.0  119.0
Central African Republic     kcal/capita/day  231.0  233.0  236.0  240.0
Chad                         kcal/capita/day  141.0  144.0  148.0  155.0
Congo                        kcal/capita/day  198.0  230.0  224.0  233.0
Cote dIvoire                 kcal/capita/day  110.0  115.0  111.0  115.0
Djibouti                     kcal/capita/day  215.0  237.0  222.0  225.0
Egypt                        kcal/capita/day  312.0  304.0  288.0  296.0
Eswatini                     kcal/capita/day  280.0  250.0  258.0  257.0
Ethiopia                     kcal/capita/day  119.0  112.0  106.0  103.0
Gabon                        kcal/capita/day  413.0  420.0  393.0  380.0
Gambia                       kcal/capita/day  180.0  173.0  171.0  185.0
Ghana                        kcal/capita/day  116.0  122.0  122.0  128.0
Guinea                       kcal/capita/day  125.0  127.0  133.0  135.0
Guinea-Bissau                kcal/capita/day  181.0  182.0  183.0  171.0
Kenya                        kcal/capita/day  245.0  245.0  262.0  244.0
Lesotho                      kcal/capita/day  303.0  305.0  297.0  274.0
Liberia                      kcal/capita/day  131.0  133.0  129.0  125.0
Madagascar                   kcal/capita/day  133.0  134.0  136.0  135.0
Malawi                       kcal/capita/day  117.0  120.0  131.0  139.0
Mali                         kcal/capita/day  315.0  283.0  284.0  320.0
Mauritania                   kcal/capita/day  446.0  440.0  443.0  423.0
Mauritius                    kcal/capita/day  463.0  465.0  469.0  475.0
Morocco                      kcal/capita/day  324.0  328.0  328.0  335.0
Mozambique                   kcal/capita/day  113.0  116.0  112.0  117.0
Namibia                      kcal/capita/day  306.0  311.0  315.0  327.0
Niger                        kcal/capita/day  174.0  185.0  186.0  187.0
Nigeria                      kcal/capita/day  104.0   95.0   86.0   85.0
Rwanda                       kcal/capita/day  101.0  108.0  102.0  103.0
Sao Tome and Principe        kcal/capita/day  199.0  192.0  194.0  184.0
Senegal                      kcal/capita/day  159.0  158.0  160.0  156.0
Sierra Leone                 kcal/capita/day  111.0  101.0   94.0   93.0
South Africa                 kcal/capita/day  476.0  483.0  487.0  465.0
Sudan                        kcal/capita/day  379.0  362.0  363.0  353.0
Togo                         kcal/capita/day   97.0  101.0   93.0   95.0
Tunisia                      kcal/capita/day  386.0  403.0  402.0  402.0
Uganda                       kcal/capita/day  190.0  180.0  178.0  172.0
United Republic of Tanzania  kcal/capita/day  176.0  178.0  176.0  172.0
Zambia                       kcal/capita/day  130.0  128.0  124.0  136.0
Zimbabwe                     kcal/capita/day  182.0  167.0  160.0  155.0

                             Y2018
Area
Algeria                      390.0
Angola                       208.0
Benin                        120.0
Botswana                     398.0
Burkina Faso                 159.0
Cabo Verde                   421.0
Cameroon                     117.0
Central African Republic     252.0
Chad                         124.0
Congo                        216.0
Cote dIvoire                 110.0
Djibouti                     219.0
Egypt                        302.0
Eswatini                     262.0
Ethiopia                     104.0
Gabon                        363.0
Gambia                       184.0
Ghana                        129.0
Guinea                       132.0
Guinea-Bissau                167.0
Kenya                        246.0
Lesotho                      290.0
Liberia                      133.0
Madagascar                   135.0
Malawi                       142.0
Mali                         336.0
Mauritania                   422.0
Mauritius                    494.0
Morocco                      335.0
Mozambique                   115.0
Namibia                      306.0
Niger                        183.0
Nigeria                       84.0
Rwanda                       103.0
Sao Tome and Principe        191.0
Senegal                      152.0
Sierra Leone                  94.0
South Africa                 479.0
Sudan                        358.0
Togo                          91.0
Tunisia                      399.0
Uganda                       189.0
United Republic of Tanzania  181.0
Zambia                       159.0
Zimbabwe                     159.0
                             Y2014  Y2015  Y2016  Y2017  Y2018
Area
Algeria                      444.0  421.0  431.0  421.0  390.0
Angola                       276.0  224.0  203.0  213.0  208.0
Benin                        158.0  156.0  143.0  126.0  120.0
Botswana                     484.0  467.0  444.0  366.0  398.0
Burkina Faso                 168.0  157.0  159.0  156.0  159.0
Cabo Verde                   424.0  430.0  411.0  432.0  421.0
Cameroon                     137.0  135.0  132.0  119.0  117.0
Central African Republic     231.0  233.0  236.0  240.0  252.0
Chad                         141.0  144.0  148.0  155.0  124.0
Congo                        198.0  230.0  224.0  233.0  216.0
Cote dIvoire                 110.0  115.0  111.0  115.0  110.0
Djibouti                     215.0  237.0  222.0  225.0  219.0
Egypt                        312.0  304.0  288.0  296.0  302.0
Eswatini                     280.0  250.0  258.0  257.0  262.0
Ethiopia                     119.0  112.0  106.0  103.0  104.0
Gabon                        413.0  420.0  393.0  380.0  363.0
Gambia                       180.0  173.0  171.0  185.0  184.0
Ghana                        116.0  122.0  122.0  128.0  129.0
Guinea                       125.0  127.0  133.0  135.0  132.0
Guinea-Bissau                181.0  182.0  183.0  171.0  167.0
Kenya                        245.0  245.0  262.0  244.0  246.0
Lesotho                      303.0  305.0  297.0  274.0  290.0
Liberia                      131.0  133.0  129.0  125.0  133.0
Madagascar                   133.0  134.0  136.0  135.0  135.0
Malawi                       117.0  120.0  131.0  139.0  142.0
Mali                         315.0  283.0  284.0  320.0  336.0
Mauritania                   446.0  440.0  443.0  423.0  422.0
Mauritius                    463.0  465.0  469.0  475.0  494.0
Morocco                      324.0  328.0  328.0  335.0  335.0
Mozambique                   113.0  116.0  112.0  117.0  115.0
Namibia                      306.0  311.0  315.0  327.0  306.0
Niger                        174.0  185.0  186.0  187.0  183.0
Nigeria                      104.0   95.0   86.0   85.0   84.0
Rwanda                       101.0  108.0  102.0  103.0  103.0
Sao Tome and Principe        199.0  192.0  194.0  184.0  191.0
Senegal                      159.0  158.0  160.0  156.0  152.0
Sierra Leone                 111.0  101.0   94.0   93.0   94.0
South Africa                 476.0  483.0  487.0  465.0  479.0
Sudan                        379.0  362.0  363.0  353.0  358.0
Togo                          97.0  101.0   93.0   95.0   91.0
Tunisia                      386.0  403.0  402.0  402.0  399.0
Uganda                       190.0  180.0  178.0  172.0  189.0
United Republic of Tanzania  176.0  178.0  176.0  172.0  181.0
Zambia                       130.0  128.0  124.0  136.0  159.0
Zimbabwe                     182.0  167.0  160.0  155.0  159.0

In [99]:
foods_fds3.isnull().sum()
foods_fds3.sort_index()

                             Y2014  Y2015  Y2016  Y2017  Y2018
Area
Algeria                      444.0  421.0  431.0  421.0  390.0
Angola                       276.0  224.0  203.0  213.0  208.0
Benin                        158.0  156.0  143.0  126.0  120.0
Botswana                     484.0  467.0  444.0  366.0  398.0
Burkina Faso                 168.0  157.0  159.0  156.0  159.0
Cabo Verde                   424.0  430.0  411.0  432.0  421.0
Cameroon                     137.0  135.0  132.0  119.0  117.0
Central African Republic     231.0  233.0  236.0  240.0  252.0
Chad                         141.0  144.0  148.0  155.0  124.0
Congo                        198.0  230.0  224.0  233.0  216.0
Cote dIvoire                 110.0  115.0  111.0  115.0  110.0
Djibouti                     215.0  237.0  222.0  225.0  219.0
Egypt                        312.0  304.0  288.0  296.0  302.0
Eswatini                     280.0  250.0  258.0  257.0  262.0
Ethiopia                     119.0  112.0  106.0  103.0  104.0
Gabon                        413.0  420.0  393.0  380.0  363.0
Gambia                       180.0  173.0  171.0  185.0  184.0
Ghana                        116.0  122.0  122.0  128.0  129.0
Guinea                       125.0  127.0  133.0  135.0  132.0
Guinea-Bissau                181.0  182.0  183.0  171.0  167.0
Kenya                        245.0  245.0  262.0  244.0  246.0
Lesotho                      303.0  305.0  297.0  274.0  290.0
Liberia                      131.0  133.0  129.0  125.0  133.0
Madagascar                   133.0  134.0  136.0  135.0  135.0
Malawi                       117.0  120.0  131.0  139.0  142.0
Mali                         315.0  283.0  284.0  320.0  336.0
Mauritania                   446.0  440.0  443.0  423.0  422.0
Mauritius                    463.0  465.0  469.0  475.0  494.0
Morocco                      324.0  328.0  328.0  335.0  335.0
Mozambique                   113.0  116.0  112.0  117.0  115.0
Namibia                      306.0  311.0  315.0  327.0  306.0
Niger                        174.0  185.0  186.0  187.0  183.0
Nigeria                      104.0   95.0   86.0   85.0   84.0
Rwanda                       101.0  108.0  102.0  103.0  103.0
Sao Tome and Principe        199.0  192.0  194.0  184.0  191.0
Senegal                      159.0  158.0  160.0  156.0  152.0
Sierra Leone                 111.0  101.0   94.0   93.0   94.0
South Africa                 476.0  483.0  487.0  465.0  479.0
Sudan                        379.0  362.0  363.0  353.0  358.0
Togo                          97.0  101.0   93.0   95.0   91.0
Tunisia                      386.0  403.0  402.0  402.0  399.0
Uganda                       190.0  180.0  178.0  172.0  189.0
United Republic of Tanzania  176.0  178.0  176.0  172.0  181.0
Zambia                       130.0  128.0  124.0  136.0  159.0
Zimbabwe                     182.0  167.0  160.0  155.0  159.0